#about{

    .right{
        width: 50%;
        float: right;
        padding-left: 12px;

        .text-title{
            
            font-size: 35px;
        }
       
        p{
            margin-top: 40px;
            line-height: 1.8em;

    }
}
}


.main-content{
    align-items: center;
    text-align: center;
    padding-bottom: 5rem;
}
#image-container {
    display: grid;
    grid-template-columns: repeat(3, 20fr);
    grid-template-rows: repeat(2, 20vw);
    grid-gap: 1rem; 
    

    img {

        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; 
  
    }
}
.box-container {
    margin: 0 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;

    .text-title{
        font-size: 55px;
    }
    img.img-content {
        width: 450px;
    }
    .buttonClick{
        width: 250px;
        height: 4vh;
        color: rgb(67, 67, 67);
        border: 1px solid #b6b6b6;
        border-radius: 10px;
        font-size: 15px;

        &:hover{
            background-color: #c3c3c3;
            cursor: pointer;
        }
    }
}




